@charset "utf-8";

.drawer-container {
  margin: 30px 10px;
}

.drawer-title {
  font-size: 1.2rem;
}

.drawer-title::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
