@charset "utf-8";

.project-container {
  display: flex;
  justify-content: space-between;

  box-shadow: 0 5px 5px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 60px;
}

.project-card p {
  line-height: 1.5em;
  padding-left: 20px;
  color: black;
  text-align: justify;
}

.project-card h3 {
  color: #e5781fe2;
  font-size: 1.5rem;
}

.project-card {
  /* cursor: pointer; */
  padding-bottom: 20px;
}

.project-description {
  margin-left: auto;
  margin-right: auto;
}

.project-description h2 {
  color: #80400b;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-description p {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  text-align: justify;
}

.project-container h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #80400b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.icons img {
  width: 60px;
  height: 60px;
}

.project-thumbnail {
  max-width: 100%;
  margin-right: 10px;
  margin-left: auto;
}
