@charset "utf-8";

.timeline {
  /* width: 80vw; */

  /* display: block; */
  /* position: absolute; */
  /* margin-left: -10vw; */
  /* margin-right: -10vw; */
  margin-left: auto;
  margin-right: auto;
}

.timeSymbol {
  font-size: 1.5rem;
  color: #80400b;
  text-align: right;
}

.new-browser {
  color: grey;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

.cardHeader {
  margin-left: 10px;
}

.cardHeader h2 {
  margin: 0;
  /* margin-left: 10px; */
}

.cardHeader h4 {
  margin: 0;
  margin-bottom: 20px;
  font-style: italic;
  color: grey;
  /* margin-left: 10px; */
}

.TimelineCard {
  display: flex;
  flex-direction: column;
  /* vertical-align: middle; */
  /* right: 0; */
  align-items: center;
  padding-right: 15px;
  /* background-color: red; */
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.headicon {
  font-size: 2.2rem;
  color: #80400b;
}

.test {
  /* display: inline-flex; */
  padding: 20px 0 0 0;
  text-align: left;
  /* width: 750px; */
  right: 0;
}
